.rectangle {
    width: 1165px; 
    height: 600px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   
   .rectangle img {
    width: 100%;
    height: auto;
    
}

*{
    margin-top: 10px;
    font-family:"brush script MT",cursive;
    text-align: center;
    font-size: 100px;
}
.heading{
    position: relative;
    top:30px;
    order: 2;
    color:darksalmon;
    
}
.para{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px ;
}
.square{
    
    float :center;
    top: 50px;
    position: relative;
    

}
.parahead{
    font-family: "brush script MT",cursive;
    font-size: 30px;
}
.para1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px ;
}